.container {
    background-color: rgb(211, 243, 243);
    padding: 15px;
}

.container ul {
    display: flex;
}

.container ul li {
    padding: 5px 10px;
    list-style: none;
}

.container ul li a {
    text-decoration: none;
}
