<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style.css">
    <title>Contact Us</title>
</head>
<body>
    <nav id="navbar">
        <div class="navbar">
            <ul>
                <li class="li"><a href="/">Home</a></li>
                <li class="li"><a href="/apply">Apply</a></li>
                <li class="li"><a href="/class_info">Class info</a></li>
                <li class="li"><a href="#sponsers">Sponsers</a></li>
                <li class="li"><a href="/Contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>